@charset "utf-8";
/* CSS Document */
/*显示省略号*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,td,figure{margin:0;padding:0;}
body{font:12px/150% Arial, Verdana, "宋体"; word-wrap:break-word;color:#666;}
a,u,s,del{color:#666;text-decoration:none}
fieldset ,a img,.bor0{border:0;}
i,em,b,th{font-style:normal;font-weight:100;}
li{list-style:none;}
img{vertical-align:middle;}
table{border-collapse:collapse;}

.over{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/*图片垂直居中*/
.vertical{}
.vertical img{vertical-align:middle;}
.vertical:after{content:"";display:inline-block;vertical-align:middle;height:100%;}

/*万能清楚浮动*/
.clear{zoom:1}/*ie6能识别，解决ie6浮动问题*/
.clear:before{content:"";display:table;}/*解决margin-top 值传递问题*/
.clear:after{content:"";clear:both;display:block;}/*动万能清楚浮*/